#emails\test.html.twig

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
	</head>
	<body>
		<h1>Bonjour
			{{ username }}
			, bienvenue sur notre plateforme !</h1>
		<p>Nous allons vous répondre le plus rapidement possible sur
			{{ email.subject }}
		</p>
	</body>
</html>
